<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href= "static/css/style.css">
    {% block head %}
        <title>Главная страница</title>
    {% endblock %}
  </head> 
  <body> 
    <header>
        <ul>
          <li><a href="/">Главная страница</a></li>
          <li><a href="/about">О компании</a></li>
          <li><a href="/logout">Выход</a></li>
        </ul>
    </header>
    {% block content %}
<p style="text-align:center; font-size:40px; color:#ff3300">
    {{ message }}
</p>

     <div class="middle">
          <a href="/key" class="btn btn2">Получить код</a>
          <a href="/choice" class="btn btn2">Зарегистрироваться в Telegram</a>
    </div>
    {% endblock %}
  </body> 
</html> 