{% extends 'index.html' %}
{% block head %}
    <title>Компания</title>
    <link rel="stylesheet" href= "static/css/about.css">
{% endblock %}

{% block content %}
     <div class = 'text'>
         <img src = "/static/images/comp.jpg" width="300" height="300" class = 'left'>
         <h1>Yamata</h1>
         <p> Наша компания занимается производством только самых качественных продуктов!</p>
      </div>
{% endblock %}